@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

body {
    width: 100%;
    height: 100%;
    font-family: 'Slabo 27px', 'Helvetica Neue Light', Arial, sans-serif;
    font-size: 16px;
    /*color: #414141;*/
    color: white;
    background-image: url('img/light_wool.png');
    /*background-color: #f8f9f9;*/
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 45px;
}

/*base color: #109d59;*/

::selection {
    background: #109d59; 
    color: #fff;
}

.navigation {
    width: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #333;
    font-family: "Slabo 27px", serif;
}
.nav-container {
  margin: 100% auto;
}
.nav-head {
  width: 80px;
  margin: 0 auto;
  text-align: center;
}
.nav-head img{
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.nav-body {
    list-style: none;
    margin: 30px auto;
    padding: 0;
    text-align: center;
}
.nav-body li{
  margin-top: 10px;
}

.container {
  position: absolute;
  left: 150px;
  right: 0px;
  color: #333;
}




/*work*/
.work_container {
    width: 100%;
    margin: 0 auto;
}
ul.work-list {
    list-style: none;
    width: 90%;
    margin: 10px auto;
    padding: 0px;
    overflow: auto;
}
ul.work-list li {
    display: inline-block;
    position:relative;
    height: 200px;
    width: 30%;
    margin: 1% 1.5%;
    overflow: hidden;

    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.work-list li .img {
    height: 200px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.work-list li .caption {
    position: absolute;
    height: 200px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #333;
    padding-top: 50%;
    opacity: 0;

    transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
ul.work-list li:hover .img {

}
ul.work-list li:hover .caption {
    opacity: 1;
}



/*contact */
.contact_container {
    width: 80%;
    margin: 40px auto;
}
#map {
    height: 240px;
    width: 100%;    
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contact_form {
    float: left;
    margin: 30px auto;
    width: 100%;
    /*border-right: 1px dotted #ccc;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
form {
    font-size: 1em;
    text-align: left;
    line-height: 30px;
}
.contact_info {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='text'],
input[type='email'],
input[type='submit'],
textarea {
    line-height: 30px;
    /*color: #aeaeae;*/
    color: #109d59;
    font-size: 1em;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 2px 10px 2px 10px;
    margin: 0 auto;
    outline: none;
    background-color: #fff;
}
input[type='text'].ng-dirty.ng-invalid,
input[type='email'].ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
    border: 1px solid #109d59;
}

.contact_info_left {
    padding-right: 20px;
}
input#name {
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contact_info_right {
    padding-left: 20px;
}
input#email {
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea {
    height: 200px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contact_info_submit {
    width: 100%;
    text-align: center;
}
input[type='submit'] {
    color: white;
    width: 30%;
    background-color: #109d59;
    cursor: pointer;
    border: 0;
}
input[type='submit']:hover {
    background-color: #333;
}



/*network icons*/
.icons {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.network {
    margin-top: 10px;
    width: 100%;
    padding: 0px;
    text-align: center;
    list-style: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.network ul {
    list-style: none;
    padding: 0px;
}
.network li {
    display: inline-block;
    margin: 0 20px;  
    color: #ccc;
}
.network li:hover {
     color: #109d59;
}

/*about */
.about_container {
    width: 80%;
    margin: 40px auto;
}
.time_line,
.about_right {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.time_line ul li{
    list-style: none;
    overflow: hidden;
    position: relative;
}
.time_line ul li .dot {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 4px;
    top: 0px;
    background-color: #666;
}
.time_line ul li .dot.highlight {
    background: #109d59;
}
.time_line ul li .dot b {
    width: 10px;
    height: 10px;
    position: absolute;
    left: -6px;
    top: 4px;
    background-color: #333;
    border: 2px #fff solid;
    -webkit-border-radius: 100%;
    -mos-border-radius: 100%;
    border-radius: 100%;
}
.time_line ul li .dot b.highlight {
    background: #109d59;
}
.time_line ul li .tl_content {
    padding-left: 30px;
}

.time_line .company {
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}
.company.highlight {
    color: #109d59;
}
.time_line .role {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #666;
}
.time_line .time {
    margin: 0 0 20px 0;
    color: #999;
}

.skills {
    list-style: none;
    padding-left: 30px;
    margin-top: 30px;
}
.skillType {
    font-weight: bold;
}
.skillType b {
    width: 4px;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-color: #333;
    border: 2px #fff solid;
    -webkit-border-radius: 100%;
    -mos-border-radius: 100%;
    border-radius: 100%;
}

.skills li {
    display: block;
    width: 100%;
    position: relative;
    margin: 20px;
    color: #666;
}
.skills span.skill {
    width: 100px; 
    display: inline-block;
    margin-right: 10px;
}
.skills span.score {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: #ddd;
    -webkit-border-radius: 100%;
    -mos-border-radius: 100%;
    border-radius: 100%;
}
.skills span.score.positive {
    background: #666;
}
.skill.highlight {
    color: #109d59;
}
.skills span.score.positive.highlight {
    background: #109d59;
}
