<!-- <div class="bubble">I am Minmin Jin, a graduate student of Cornell University, ECE.
I have developed strong analytical and programming abilities
through coursework in computer science.
In addition, my hands-on experience in various
projects supports my qualifications of solving problems. <br><br>

With a great passion for programming,
I love trying new technologies and and have
the confidence to rise to new challenges.  <br><br>

While not programming, I would like to listen to music, play games,
take photographs and etc. <br><br>

I am graduating December, 2015 and am now looking forward to working
with exciting opportunities. For more information,
check my <a href="http://loistava.github.io/resume" style="color: #FF6F69">resume</a>!
</div> -->
<div class="about_container">
<div class="time_line">
    <ul>
        <li ng-repeat="item in experience" ng-mouseenter="light='highlight'" ng-mouseleave="light=''">
            <div class="dot" ng-class="light"><b ng-class="light"></b></div>
            <div class="tl_content">
                <p class="company" ng-class="light">{{ item.company }}</p>
                <p class="role">{{ item.role }}</p>
                <p class="time">{{ item.time }}</p>
            </div>
        </li>
    </ul>
</div>

<div class="about_right">
    <ul class="skills" ng-repeat="skillset in skills">

        <div class="skillType"><b></b>{{ skillset.type }}</div>
        <li ng-repeat="skill in skillset.skills" ng-mouseenter="light2='highlight'" ng-mouseleave="light2=''">
            <span class="skill" ng-class="light2">{{ skill.skill }}</span>
            <span class="score positive" ng-class="light2" ng-repeat="i in getNumber(skill.score) track by $index"></span>
            <span class="score" ng-repeat="i in getNumber(10-skill.score) track by $index"></span>
        </li>

    </ul>
    <div class="interests"></div>
</div>
</div>