<div class="contact_container">
<div id="map"></div>

<div class="contact_form">
    <form  name="cform" action="http://formspree.io/jinmmin@gmail.com" method="POST">
        <!-- <label for="name">Name</label><br> -->
        <div class="contact_info contact_info_left">
            <!-- <div class="icon-name"></div> -->
            <input type="text" name="name" id="name" ng-model="contact.name" placeholder="Name" required="required">
        </div>

        <div class="contact_info contact_info_right">
            <!-- <label for="email">Email</label><br> -->
            <!-- <div class="icon-email" ></div> -->
            <input type="email" name="_replyto" id="email" ng-model="contact.email"placeholder="Email" required="required"> 
        </div>

        <!-- <label for="message">Message</label><br> -->
        <textarea name="body" id="message" ng-model="contact.message" required="required"></textarea> 
        
        <div class="contact_info_submit">
            <input type="submit" ng-disabled="cform.$invalid" value="Send">
        </div>
        
        <input type="hidden" name="_subject" value="Mail from Portfolio!" />
        <input type="hidden" name="_next" value="//loistava.github.io/submit.html" />
    </form>
</div>

<div class="network">
    <ul class="">
        <li><a href="http://www.linkedin.com/in/minminjin/">LinkedIn
            <!-- <div class="icons" style="background-image: url(img/icons/linkedin-icon.png)"></div> -->
        </a>
        </li>
        <li><a href="https://github.com/loistava">GitHub
            <!-- <div class="icons" style="background-image: url(img/icons/github-icon.png)"></div> -->
        </a>
        </li>
<!--         <li><a href="http://facebook.com/minminjin2">
            <div class="icons" style="background-image: url(img/icons/facebook-icon.png)"></div>
        </a>
        </li> -->
        <li><a href="https://twitter.com/VickykyKin">Twitter
            <!-- <div class="icons" style="background-image: url(img/icons/twitter-icon.png)"></div> -->
            </a>
        </li>
    </ul>
</div>

</div>
