<div clas="work_container">
<ul class="work-list">
    <li>
        <a href="http://tcatbus.github.io/">
            <div class="img" style="background-image: url(img/works/tcatbus.png)"></div>
            <div class="caption">Ithaca bus stop</div>
        </a>
    </li>

    <li>
        <a href="http://loistava.github.io/WinningPercentagesOfChessOpenings/">
            <div class="img" style="background-image: url(img/works/WinningPercentagesOfChessOpenings.png)"></div>
            <div class="caption">Chessboard</div>
        </a>
    </li>

    <li>
        <a href="#">
            <div class="img" style="background-image: url(img/works/cuteWeather.png)"></div>
            <div class="caption">Cute Weather (IOS App)</div>
        </a>
    </li>   

    <!-- <li><div class="caption">TaskNinja Clone</div></li> -->

    <li>
        <a href="http://loistava.github.io/Drawing">
            <div class="img" style="background-image: url(img/works/drawing.png)"></div>
            <div class="caption">A drawing application</div>
        </a>
    </li>
 
    <li>
        <a href="http://loistava.github.io/iphone">
            <div class="img" style="background-image: url(img/works/iphone.png)"></div>
            <div class="caption">Iphone with HTML and CSS</div>
        </a>
    </li>
 
    <li>
        <a href="http://loistava.github.io/todos">
            <div class="img" style="background-image: url(img/works/todolist.png)"></div>
            <div class="caption">Todo List with AngularJS</div>
        </a>
    </li>
 
    <li>
        <a href="http://loistava.github.io/tetris">
            <div class="img" style="background-image: url(img/works/tetris.png)"></div>
            <div class="caption">Tetris with JavaScript</div>
        </a>
    </li>

    <li>
        <a href="#">
            <div class="img" style="background-image: url(img/works/template1.png)"></div>
            <div class="caption">Not ready yet :(</div>
        </a>
    </li>

    <li>
        <a href="#">
            <div class="img" style="background-image: url(img/works/template2.png)"></div>
            <div class="caption">Not ready yet :(</div>
        </a>
    </li>
</ul>
</div>