<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="site-footer-inner">
      <div>{{ site.copyright }} {% if site.author %}@{{ site.author | escape }}{% endif %}</div>
      <div>
        <span>
          <a href="{{site.baseurl}}/terms_and_licensing/index.html">Terms & Licensing</a>
        </span>
      </div>
      <div class="footer-col rss-subscribe">Subscribe <a href="{{ "/atom.xml" | relative_url }}">via RSS</a></div>
    </div>
  </div>
</footer>
